# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore environment-specific files
.env
.env.*

# Ignore built output
dist/
build/

# Ignore package lock files
package-lock.json
yarn.lock
